---
---

<section class="flex font-medium text-primary gap-y-10 my-32 flex-col">
    <div class="flex justify-center items-center">
        <a href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer" class="hover:scale-125 hover:opacity-70 transition inline-block">
            <img src="twitch.svg" alt="Twitch de Ibai">
        </a>
    </div>
    <div class="grid uppercase text-center gap-x-10 [grid-template-colums:1fr] md:[grid-template-columns:1fr_1.55fr_1fr]">

        <article class="order-2 md:order-none md:flex-grow flex justify-center items-center text-xl py-10 md:py-12 lg:py-20 px-10 border-y-2 border-primary">
            <h5 class="w-56 text-center">Presentación, pesaje, entrevista y cara a cara</h5>
        </article>

        <article class="order-1 md:order-none flex justify-center items-center text-4xl py-10 sm:py-12 md:py-20 px-10 border-t-2 md:border-y-2 border-primary">
            <h4>
                <a class="hover:text-purple-800 transition hover:scale-110 inline-block" href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer">
                    Síguelo en directo twitch.tv/ibai
                </a>
            </h4>
        </article>

        <article class="order-3 md:order-none md:flex-grow flex justify-center items-center text-xl py-10 md:py-12 lg:py-20 px-10 border-b-2 md:border-y-2 border-primary">
            <h5>Con la presencia de boxeadores y boxeadoras.</h5>
        </article>

    </div>
</section>

<article class="order-3 md:order-none text-xl py-10 sm:py-12 md:py-20 px-10 border-b-2 md:border-y-2  border-primary flex justify-center items-center ">
